<h1>New activity</h1>

<%= simple_form_for[@user, @activity] do |f| %>
<%= f.input :title%>
<%= f.input :description %>
<%= f.input :date %>
<%= f.input :time %>


<%= f.submit "add", class: 'btn btn-success' %>
